<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row text-center">

            <pre><h3 class="text-center">
    Welcome       to        the        sample        application. 
    This  is being built for concepts on Angular2 and 
    Bootstrap.
    Click on the menu items from menu bar to 
    navigate to few pages, which we have made.
               </h3>
           </pre>
        </div>
        <div class="row text-center">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">BENCH</h3>

            <div class="text-center">@Tavant </div>
            <div class="text-center">
            </div>
        </div>
    </div>
</div>